// Base colors variables
$base-lavander: #93419b;
$base-black: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
$base-white: #fff;

.footer-container {
  // position: absolute;
  // bottom: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  background: $base-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 15rem;
  padding: 0 50px;
  text-align: start;
  flex-wrap: wrap;

  p {
    color: $base-white;
  }
}

.footer-social-links {
  display: flex;
  align-items: center;
  
  ul {
    list-style: none;
    display: inherit;
  }
  
  a {
    font-weight: normal;
    color: $base-white;
    font-size: 32px;
    padding: 0px 10px;
  }
}

.footer-social-links a:hover {
  opacity: 1;
  color: $base-lavander;
}

.footer-social-links p {
  padding-right: 20px;
}

.footer-container .fa-heart {
  color: #D23333;
}
