.skills-section {
  min-height: 100vh;
  margin: 0 auto;
  // position: relative;
  //   top: -70px;
  padding-bottom: 56px;
  background-color: #f9f9ff;

  h2 {
    font-weight: bold;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin: 60px;
    
    span {
      background: linear-gradient(to top, #94419b9c 35%, transparent 35%);
    }
  }
}

// Skills grouping 

figure.skills-item {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  
}

.caption {
  /* Make the caption a block so it occupies its own line. */
  display: block;
}

.skills-item img {
  width: 5rem;
  display: block;
  text-align: center;
  margin: 10px auto;
}

.skills-item {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bolder;
  width: 100%;
  // height: 110px;
  padding: 10px;
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  background-color: #fff;
  border-radius: 16px;

  margin: 25px 0 0;
  //box-shadow: 0 30px 40px 0 rgb(212 217 232 / 20%);
}

.skills-item {
  width: 100vh;
  height: fit-content;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  border-radius: 16px;
}

.skills-container {
  display: -ms-flexbox;
  display: flex;
  // -ms-flex-direction: column;
  // flex-direction: column;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  position: relative; 
  max-width: 90%;
  margin: 60px auto;
}

.skills-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 0 0 calc((100% - 88px) / 5);
  flex: 0 0 calc((100% - 88px) / 5);
  width: calc((100% - 88px) / 5);
  //-ms-flex: 0 0 100%;
  //flex: 0 0 100%;
  //width: 100%;
  margin: 10px;
}
